@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  background: #3c3c3c;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  padding: 3rem 0;
}
.container h2 {
  padding: 1.5rem;
  color: #fcfcfc;
  font-size: 1.6rem;
  text-align: justify;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 110rem;
  padding: 1rem;
  gap: 1.5rem;
  margin: 1.5rem 0;
  min-height: 30.5rem;
  width: 100%;
  position: relative;
}
.card-wrapper li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32.5rem;
  height: 8.5rem;
  border-radius: 1rem;
  list-style: none;
  cursor: pointer;
  box-shadow: 0.05rem 0.05rem #000000;
  background: #4f4f4f;
  position: relative;
}
.card-wrapper li:hover {
  transform: scale(1.025);
  transition: all 0.2s ease;
}
.card-wrapper li .pokeball-bg {
  height: 6.5rem;
  width: 6.5rem;
  background-image: url("../assets/images/icons/ipokeball.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(30deg);
  opacity: 0.1;
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
}

.loading-banner {
  width: 100%;
  height: 100%;
  z-index: 88;
  display: none;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
}
.loading-banner img {
  height: 12rem;
  width: 12rem;
  position: absolute;
  bottom: 5rem;
}

.loading-banner.visible {
  display: flex;
  position: absolute;
  top: 0;
}

.poke-wrapper {
  font-size: 2.4rem;
  color: #fcfcfc;
  padding: 1rem 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
  width: 100%;
}
.poke-wrapper span {
  font-size: 1.8rem;
  font-weight: bold;
}
.poke-wrapper > img {
  width: 7rem;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 2/2;
}

.pokeTypes {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pokeTypes span {
  font-size: 1.4rem;
}
.pokeTypes .poke-num-fixed {
  position: absolute;
  top: 0.3rem;
  right: 2rem;
}
.pokeTypes img {
  max-width: 2rem;
  padding: 0.2rem;
  border-radius: 50%;
}
.pokeTypes img.normal {
  background: #a8a77a;
}
.pokeTypes img.fogo {
  background: #ee8130;
}
.pokeTypes img.agua {
  background: #6390f0;
}
.pokeTypes img.eletrico {
  background: #f7d02c;
}
.pokeTypes img.grama {
  background: #7ac74c;
}
.pokeTypes img.gelo {
  background: #96d9d6;
}
.pokeTypes img.lutador {
  background: #c22e28;
}
.pokeTypes img.venenoso {
  background: #a33ea1;
}
.pokeTypes img.terrestre {
  background: #e2bf65;
}
.pokeTypes img.voador {
  background: #a98ff3;
}
.pokeTypes img.psiquico {
  background: #f95587;
}
.pokeTypes img.inseto {
  background: #a6b91a;
}
.pokeTypes img.pedra {
  background: #b6a136;
}
.pokeTypes img.fantasma {
  background: #735797;
}
.pokeTypes img.dragao {
  background: #6f35fc;
}
.pokeTypes img.noturno {
  background: #705746;
}
.pokeTypes img.aco {
  background: #b7b7ce;
}
.pokeTypes img.fada {
  background: #d685ad;
}

header {
  height: 4.5rem;
  width: 110%;
  padding: 0.5rem;
  background: #ee1515;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
}
header > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2.4rem;
  color: #fcfcfc;
  font-weight: bold;
}

.load-more-button {
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.07rem 0.07rem #000000;
  transition: all 0.2s ease;
}
.load-more-button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.pokemon-page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 4.5rem;
  padding: 1.5rem;
  position: relative;
}
.pokemon-page-wrapper .loading-banner img {
  position: initial;
}
.pokemon-page-wrapper .page-title {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2rem;
}
.pokemon-page-wrapper .error-return-button {
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  transition: all ease 0.6s;
}
.pokemon-page-wrapper .error-return-button:hover {
  transform: scale(1.05);
}

.pokeDescHeader {
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pokeDescHeader .return-button {
  margin-bottom: 2rem;
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}
.pokeDescHeader .return-button:hover {
  filter: brightness(0.8);
}
.pokeDescHeader .return-button img {
  width: 2.8rem;
}
.pokeDescHeader .return-button span {
  font-size: 1.4rem;
  color: #fff;
}
.pokeDescHeader .pokeInfo {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}
.pokeDescHeader .pokeInfo span {
  font-size: 1.8rem;
  text-shadow: 0.1rem 0.1rem #000000;
  font-weight: bold;
}
.pokeDescHeader .pokeInfo span + span {
  font-size: 3.2rem;
}
.pokeDescHeader .pokeTypes {
  margin-top: 0.2rem;
}
.pokeDescHeader .pokeTypes img {
  max-width: 2.6rem;
  border-radius: 50%;
}

.pokeSprite {
  margin: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.pokeSprite img {
  width: 12.5rem;
}

.pokeTypesNames {
  font-size: 2.2rem;
  text-shadow: 0.05rem 0.05rem #000000;
  font-style: italic;
}

.pokeDescription {
  font-size: 2.4rem;
  text-align: justify;
  padding: 1.1rem;
  position: relative;
}
.pokeDescription button {
  position: absolute;
  right: 1.6rem;
  top: -3rem;
  background-color: #121212;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
}

@media screen and (min-width: 640px) {
  html,
  body {
    overflow-x: hidden;
  }
  .pokemon-page-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 800px) {
  .pokemon-page-wrapper {
    width: 55%;
  }
}/*# sourceMappingURL=App.css.map */